.formContainer {
  padding: 20px;
}

.tableContainer {
  padding: 20px;
}

.buttonContainer {
  padding: 20px;
}

.button {
  margin: 0px 10px;
}

.labelName {
  margin: 10px 0px;
  width: 100px;
  display: inline-block;
}

input{
  width: 200px;
  outline: none;
  padding: 5px;
}

.error {
  margin-top: 10px; 
  color : red;
}

.tableButton {
  margin: 0px 10px;
}